h1, p {
  font-family: 'GT America Extended',sans-serif;
  color: white;
  text-align: center;
}

p{
  font-size: 25px;
}

h1{
  font-size: 55px;
}

body{
  background-color: black;
}

.sub-div{
  padding: 10px;
}