@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');



h1 {
  font-family: Montserrat, sans-serif;
  margin: 10px;
  padding: 10px;
  margin-left: 0;
  padding-left: 0;
  font-weight: 900;
  font-size: 50px;
  /* color: #F03F35; */
}

p{
  font-size: 23px;
  line-height: 35px;
  /*text-align: justify;*/
  margin: 10px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  /* color: #f03f35; */
}


body{
  /* background-color: #B7E3E4; */
  background-color: #edeeee;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.sub-div{
  padding: 15px;
}

.social-container {
  padding: 20px 0px 20px 0px;
  align-content: center;
}

a.social {
  margin: 0.2rem 1rem;
  transition: transform 250ms;
  display: inline-block;
  color:#000000;
  font-size: 35px;
}

a.social:hover {
  transform:translateY(-3px);
}

a.dev:hover{
  color:blue;
}
a.linkedin:hover{
  color:#0077B5;
}

a.email:hover{
  color: #f1c40f;
}
a.github:hover{
  color:#000000;
}

a.wordpress:hover{
  color: #444140;
}

#resume-link{
  background-color: #9b59b6;
  border-radius: 4px;
  border-width: 1px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  margin:10px 0px;
}

#resume-link:hover{
  background-color: #b87dcf;
  cursor: pointer;
}

#resume-div{
  margin-bottom: 35px;
}

.links{
  text-decoration: none;
  color:#000000;
}

.links:hover{
  color: #b87dcf;
}
